### Capstone 1 - Washington state linkage of infant death, birth, and mother's hospitalization discharge data

##### Maya Bhat-Gregerson

January 7, 2020

### B. PREPARATION OF DEATH DATA 2016-2018

### I. Data acquisition

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pyodbc

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

I use SQL queries to get the death and birth variables I am likely to need for linking the records. 

NOTE: I renamed all variables from death records so that they begin with 'd' to distinguish the fields from those in birth records with the same names.

**DEATH DATA 2016, 2017, 2018**

In [7]:
## CONNECT TO WHALES & USE SQL QUERY FOR DEATH DATA SET

driver = '{SQL Server Native Client 11.0}'

conn = pyodbc.connect(
        Trusted_Connection='Yes',
        Driver='{ODBC Driver 13 for SQL Server}',
        Server='###',
        Database='###'
        )

querystring = ("SELECT SFN_NUM as 'dsfn'," + 
        "BIRTH_SFN_NUM as 'dbirsfn', " + 
        "SSN as 'dssn', " +
        "ISNULL(GNAME, 'NaN') as 'dfname', " +
        "ISNULL(MNAME, 'NaN') as 'dmname', " +
        "ISNULL(LNAME, 'NaN') as 'dlname', " +
        "ISNULL(MOTHER_GNAME, 'NaN') as 'dmom_fname', " +
        "ISNULL(MOTHER_MNAME, 'NaN') as 'dmom_mname', " + 
        "ISNULL(MOTHER_LNAME, 'NaN') as 'dmom_maiden', " +
        "ISNULL(FATHER_LNAME, 'NaN') as 'ddad_lname', " +
        "ISNULL(FATHER_MNAME, 'NaN') as 'ddad_mname', " +    
        "ISNULL(FATHER_GNAME, 'NaN') as 'ddad_fname', " +           
        "ISNULL(SEX, 'NaN') as 'dsex', " + 
		"DOB as 'ddob', " + 
		"ISNULL(SUBSTRING(DOB, 1,2), '99') as 'ddobm', " + 
		"ISNULL(SUBSTRING(DOB, 4,2), '99') as 'ddobd', " +
		"ISNULL(SUBSTRING(DOB, 7,4), '9999') as 'ddoby', " + 
		"ISNULL(DOD, '  ') as 'ddod'," + 
		"ISNULL(SUBSTRING(DOD, 1,2), '99') as 'ddodm', " + 
		"ISNULL(SUBSTRING(DOD, 4,2), '99') as 'ddodd', " + 
		"ISNULL(SUBSTRING(DOD, 7,4), '9999') as 'ddody', " +
		"ISNULL(BPLACE_ST_FIPS_CD, '  ') as 'dbirplstatefips', " + 
		"ISNULL(BPLACE_CNT, '  ') as 'dbircountryl'," + 
		"ISNULL(DNAME_CITY, '  ') as 'ddthcityl', " + 
		"ISNULL(DCOUNTY, '  ') as 'ddthcountyl'," + 
		"ISNULL(DSTATEL, '  ') as 'ddthstatel', " + 
		"ISNULL(SUBSTRING(DZIP9, 1,5), '99999') as 'ddthzip', " + 
		"ISNULL(RES_CITY, '  ') as 'drescity', " + 
		"RIGHT('00000' + ISNULL(RES_CITY_FIPS_CD, '99999'), 5) as 'drescityfips', " + 
		"ISNULL(RES_COUNTY, '  ') as 'drescountyl', " + 
		"RIGHT('000' + ISNULL(RES_COUNTY_FIPS_CD, '999'), 3) as 'drescntyfips', " + 
		"ISNULL(RES_STATE_FIPS_CD, '  ') as 'dresstatefips', " + 
		"ISNULL(SUBSTRING(RES_ZIP, 1,5), '99999') as 'dreszip'" + 
"FROM [wa_vrvweb_events].[VRV_DEATH_TBL]" +
"WHERE ((DATE_DEATH_YEAR = 2016) OR (DATE_DEATH_YEAR = 2017) OR (DATE_DEATH_YEAR = 2018))" +
	"AND VRV_REGISTERED_FLAG = '1'" +
	"AND FL_CURRENT = '1'" +
	"AND FL_VOIDED = '0'")

dth1618= pd.read_sql_query(querystring, conn)

## SAVE DATA AS CSV FILE

dth1618.to_csv(r'###\Data\dth1618_raw.csv', index=None, header=True)

In [20]:
d1618 = pd.read_csv(r'###\Data\dth1618_raw.csv', low_memory=False)

In [21]:
d1618.shape

(172810, 33)

In [22]:
d1618.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172810 entries, 0 to 172809
Data columns (total 33 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   dsfn             172810 non-null  int64
 1   dbirsfn          7510 non-null    object
 2   dssn             172810 non-null  object
 3   dfname           172808 non-null  object
 4   dmname           157998 non-null  object
 5   dlname           172803 non-null  object
 6   dmom_fname       172747 non-null  object
 7   dmom_mname       75900 non-null   object
 8   dmom_maiden      172751 non-null  object
 9   ddad_lname       172788 non-null  object
 10  ddad_mname       89674 non-null   object
 11  ddad_fname       172738 non-null  object
 12  dsex             172809 non-null  object
 13  ddob             172810 non-null  object
 14  ddobm            172810 non-null  int64
 15  ddobd            172810 non-null  int64
 16  ddoby            172810 non-null  int64
 17  ddod             172810 non-null  object
 18  ddodm            172810 non-null  int64
 19  ddodd            172810 non-null  int64
 20  ddody            172810 non-null  int64
 21  dbirplstatefips  172810 non-null  object
 22  dbircountryl     172810 non-null  object
 23  ddthcityl        172807 non-null  object
 24  ddthcountyl      172810 non-null  object
 25  ddthstatel       172810 non-null  object
 26  ddthzip          172810 non-null  object
 27  drescity         172804 non-null  object
 28  drescityfips     172810 non-null  int64
 29  drescountyl      172810 non-null  object
 30  drescntyfips     172810 non-null  int64
 31  dresstatefips    172810 non-null  object
 32  dreszip          172809 non-null  object
dtypes: int64(9), object(24)
memory usage: 43.5+ MB

### II. Data cleaning and standardization

In [2]:
# look at data
#d1618.head()

  - Check death record number 'dsfn' and convert to integer if necessary

In [24]:
d1618.dsfn.describe()

count    1.728100e+05
mean     2.017043e+09
std      8.144041e+05
min      2.016000e+09
25%      2.016043e+09
50%      2.017031e+09
75%      2.018015e+09
max      2.018091e+09
Name: dsfn, dtype: float64

In [25]:
dth1618['dsfn'] = dth1618['dsfn'].astype(int)

In [26]:
dth1618.dsfn.dtype

dtype('int32')

**RESTRICT TO WA RESIDENTS**

In [27]:
d1618['dresstatefips'].value_counts(dropna=False)

WA    168703
OR      1424
ID       605
CA       311
AK       308
MT       187
XX       139
ZZ       131
AZ       117
TX        82
FL        73
BC        52
HI        46
NV        45
NY        42
IL        38
MI        36
CO        30
UT        30
PA        24
MN        23
OH        19
VA        18
OK        18
NJ        18
IN        17
TN        15
MO        15
AL        14
SC        13
IA        13
MD        12
SD        12
LA        12
NC        12
NM        11
MA        11
WI        11
KS        11
AR        10
GA        10
ND         9
MS         9
WY         9
CT         8
AB         7
NE         7
ME         5
WV         4
KY         4
GU         4
DE         4
ON         4
NH         4
AS         3
RI         2
PR         2
DC         2
SK         1
YT         1
MP         1
VT         1
NS         1
Name: dresstatefips, dtype: int64

In [28]:
# keep only WA residents and check if successful in filtering out other state residents.
d1618 = d1618[(d1618['dresstatefips']=="WA")]
d1618['dresstatefips'].value_counts(dropna=False)

WA    168703
Name: dresstatefips, dtype: int64

#### CHECK FOR NULL VALUES

In [29]:
d1618.isna().sum()

dsfn                    0
dbirsfn            161334
dssn                    0
dfname                  1
dmname              14422
dlname                  6
dmom_fname             62
dmom_mname          94589
dmom_maiden            58
ddad_lname             21
ddad_mname          81126
ddad_fname             70
dsex                    0
ddob                    0
ddobm                   0
ddobd                   0
ddoby                   0
ddod                    0
ddodm                   0
ddodd                   0
ddody                   0
dbirplstatefips         0
dbircountryl            0
ddthcityl               3
ddthcountyl             0
ddthstatel              0
ddthzip                 0
drescity                5
drescityfips            0
drescountyl             0
drescntyfips            0
dresstatefips           0
dreszip                 0
dtype: int64

Probably will not use mothers' and infants' middle name for linking as there are too many missing values.

#### STANDARDIZE ALL STRING VARIABLES

First, middle, and last names of infants and mothers as well as city names will be standardized by converting these columns to upper case text, removing white spaces, removing hyphens and other punctuation marks.

In [30]:
# convert to upper case
d1618 = d1618.apply(lambda x: x.str.upper() if type(x) == str else x)

In [31]:
#remove white spaces, punctuation
d1618 = d1618.apply(lambda x: x.str.strip() if type(x) == str else x)
d1618 = d1618.applymap(lambda x: x.replace(" ", "") if type(x) == str else x)
d1618 = d1618.applymap(lambda x: x.replace("-", "") if type(x) == str else x)
d1618 = d1618.applymap(lambda x: x.replace(".", "") if type(x) == str else x)
d1618 = d1618.applymap(lambda x: x.replace("'", "") if type(x) == str else x)

In [1]:
#d1618.tail(30)

- Verified that all string transformations were successful.

#### CHECK FOR OUT OF RANGE VALUES

In [33]:
#create dictionary of valid values so that each variable can be checked to make sure there is no
# out of range value.

valids = {'sex': ['M', 'F', 'U'],
          'dobm': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 99],
          'dodm': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 99],
          'dobd': np.r_[1:32 ,99],
          'dodd': np.r_[1:32 ,99],
          'doby': list(range(1900,2019)),
          'dody': [2016,2017,2018],
         'rcntyfips': np.r_[list(range(1, 78, 2)), 99],
         'certtype': ['R'],
         'birthstatefips': ['WA'], 
         'rstatefips': ['WA']}

In [34]:
# check for out of range values for 'dsex'

chksex = d1618['dsex'].isin(valids['sex'])
len(d1618[~chksex])

0

In [35]:
# check for out of range values for 'ddobm'

chkdobm = d1618['ddobm'].isin(valids['dobm'])
len(d1618[~chkdobm])

0

In [36]:
# check for out of range values for 'ddody'

chkdody = d1618['ddody'].isin(valids['dody'])
len(d1618[~chkdody])

0

In [37]:
d1618['ddody'].value_counts(dropna=False)

2017    57024
2018    56918
2016    54761
Name: ddody, dtype: int64

In [38]:
# check for out of range values for 'ddoby'

chkdoby = d1618['ddoby'].isin(valids['doby'])
len(d1618[~chkdoby])

6

In [39]:
d1618.loc[~chkdoby].ddoby.value_counts(dropna=False)

9999    6
Name: ddoby, dtype: int64

In [40]:

dobyerrors = d1618[~chkdoby][['ddob']]

dobyerrors

             ddob
4897   99/99/9999
8190   99/99/9999
20713  99/99/9999
40131  99/99/9999
75586  99/99/9999
94603  99/99/9999

- unable to correct dob year without additional information on date of birth.

In [41]:
# check for out of range values for 'dobd'

chkdobd = d1618['ddobd'].isin(valids['dobd'])
len(d1618[~chkdobd])

0

In [42]:
# check for out of range values for 'drescntyfips'

chkrcounty = d1618['drescntyfips'].isin(valids['rcntyfips'])
len(d1618['drescntyfips'][~chkrcounty])

235

In [43]:
rcntyerrors = d1618[~chkrcounty][['dsfn','drescntyfips', 'drescountyl','drescity']]

rcntyerrors

              dsfn  drescntyfips drescountyl           drescity
2815    2016091650           999
3140    2016051562           999
3796    2016002323           999     UNKNOWN            UNKNOWN
4262    2016091147           999
4366    2016092112           999
6662    2016091178           999
7027    2016091112           999
7285    2016003874           999
7694    2016016523           999
7882    2016045492           999
9192    2016033248           999
10983   2016036584           999
11082   2016041856           999
11527   2016091040           999
12030   2016047273           999
15230   2016023512           999
15355   2016037915           999
15687   2016018053           999
15967   2016026645           999
16944   2016039812           999
17933   2016091274           999
19605   2016025705           999
19774   2016027487           999
20411   2016091972           999
22209   2016053847           999
23279   2016091804           999
23947   2016092048           999
24602   2016052146           999
24654   2016016521           999
28126   2016031975           999
28383   2016091752           999
28439   2016091651           999
28550   2016033129           999
28801   2016033439           999
28853   2016039146           999
29114   2016091374           999       KINGS            SEATTLE
29464   2016030653           999
32134   2016025807           999
32303   2016091162           999
33390   2016092047           999
34793   2016092040           999
35704   2016091114           999
37697   2016036758           999
37989   2016019167           999
38471   2016024067           999
38616   2016091751           999
39347   2016007503           999
39473   2016018617           999
40499   2016021891           999
40569   2016018750           999
41775   2016004118           999
42272   2016006581           999
42306   2016032568           999     UNKNOWN            UNKNOWN
43457   2016031086           999
46733   2016036970           999
47243   2016014734           999
47519   2016050530           999
48754   2016038744           999
49382   2016091750           999
50186   2016012203           999
50513   2016050655           999
51210   2016045115           999
52315   2016036471           999
52529   2016051880           999
52579   2016040274           999
54104   2016048903           999
54162   2016023676           999
54312   2016091113           999
57893   2017002048           999
58972   2017007949           999
59411   2016048589           999
60616   2017004246           999
60929   2016053860           999
63069   2016054040           999
63271   2017007908           999
63553   2016054080           999
64119   2017001155           999
65098   2016054127           999
65263   2017017118           999     UNKNOWN            UNKNOWN
68442   2017020833           999     UNKNOWN            UNKNOWN
70165   2016054156           999
70530   2017009847           999     UNKNOWN            UNKNOWN
72130   2017009296           999     UNKNOWN            UNKNOWN
72258   2016060606           999     UNKNOWN            UNKNOWN
72930   2016054157           999
73528   2017013563           999     UNKNOWN            UNKNOWN
74531   2017009951           999     UNKNOWN            UNKNOWN
75859   2017017142           999     UNKNOWN            UNKNOWN
77199   2017008891           999     UNKNOWN            UNKNOWN
78811   2016004373           999
78946   2018058730           999     UNKNOWN            UNKNOWN
80065   2016008365           999
80134   2017018346           999     UNKNOWN            UNKNOWN
80376   2017024653           999     UNKNOWN            UNKNOWN
81553   2017025823           999     UNKNOWN            UNKNOWN
82226   2017026667           999     UNKNOWN            UNKNOWN
82351   2017026750           999     UNKNOWN            UNKNOWN
82711   2017027292           999     UNKNOWN            UNKNOWN
82865   2016092250           999     UNKNOWN              OTHER
83482   2017023943           999     UNKNOWN            UNKNOWN
84038   2017028795           999     UNKNOWN            UNKNOWN
84905   2017021306           999     UNKNOWN            UNKNOWN
85321   2017029337           999     UNKNOWN            UNKNOWN
86858   2016060629           999     UNKNOWN            UNKNOWN
88127   2017031777           999     UNKNOWN            UNKNOWN
88266   2017046306           999     UNKNOWN            UNKNOWN
88854   2017032839           999     UNKNOWN            UNKNOWN
89057   2017028672           999     UNKNOWN            UNKNOWN
90957   2017034748           999     UNKNOWN            UNKNOWN
91580   2017035352           999     UNKNOWN            UNKNOWN
91942   2017035613           999     UNKNOWN            UNKNOWN
92556   2017031300           999     UNKNOWN            UNKNOWN
93738   2017035288           999     UNKNOWN            UNKNOWN
94981   2017038694           999     UNKNOWN            UNKNOWN
95862   2017039523           999     UNKNOWN            UNKNOWN
96821   2017039990           999     UNKNOWN            UNKNOWN
98116   2017042448           999     UNKNOWN            UNKNOWN
98160   2017039867           999     UNKNOWN            UNKNOWN
100323  2017044566           999     UNKNOWN            UNKNOWN
100674  2017044659           999     UNKNOWN            UNKNOWN
101265  2017044108           999     UNKNOWN            UNKNOWN
101694  2017092031           999              DISTRICOFCOLUMBIA
102232  2017034732           999     UNKNOWN            UNKNOWN
102435  2017045332           999     UNKNOWN            UNKNOWN
102813  2017048190           999     UNKNOWN            UNKNOWN
103105  2017092072           999     UNKNOWN            UNKNOWN
103260  2017046625           999     UNKNOWN            UNKNOWN
103409  2017034532           999     UNKNOWN            UNKNOWN
104884  2017048028           999     UNKNOWN            UNKNOWN
105416  2017049529           999     UNKNOWN            UNKNOWN
105454  2017048368           999     UNKNOWN            UNKNOWN
106079  2017049626           999     UNKNOWN            UNKNOWN
106554  2017049713           999     UNKNOWN            UNKNOWN
106655  2017054455           999     UNKNOWN            UNKNOWN
108277  2017043459           999     UNKNOWN            UNKNOWN
108719  2017052270           999     UNKNOWN            UNKNOWN
110698  2017053964           999     UNKNOWN            UNKNOWN
111765  2017055704           999     UNKNOWN            UNKNOWN
112627  2017056461           999     UNKNOWN            UNKNOWN
112811  2017056373           999     UNKNOWN            UNKNOWN
115692  2017057535           999     UNKNOWN            UNKNOWN
116088  2018002597           999     UNKNOWN            UNKNOWN
117145  2017056405           999     UNKNOWN            UNKNOWN
117347  2017057487           999     UNKNOWN            UNKNOWN
117918  2018003644           999     UNKNOWN            UNKNOWN
118859  2017091786           999     WHATCOM             BLAINE
120159  2018005929           999     UNKNOWN            UNKNOWN
122429  2017092306           999       CLARK         RIDGEFIELD
122719  2018003385           999     UNKNOWN            UNKNOWN
124398  2018010048           999     UNKNOWN            UNKNOWN
124731  2018013781           999     UNKNOWN            UNKNOWN
124732  2018013782           999     UNKNOWN            UNKNOWN
125834  2018012043           999     UNKNOWN            UNKNOWN
126063  2018009664           999     UNKNOWN                NaN
126827  2017057666           999     UNKNOWN            UNKNOWN
127055  2017057656           999     UNKNOWN            UNKNOWN
127475  2018013720           999     UNKNOWN            UNKNOWN
129402  2018015504           999     UNKNOWN                NaN
130228  2018001700           999     UNKNOWN            UNKNOWN
130447  2018004244           999     UNKNOWN            UNKNOWN
131374  2018018491           999     UNKNOWN            UNKNOWN
133041  2018019016           999     UNKNOWN            UNKNOWN
134364  2018020109           999     UNKNOWN            UNKNOWN
134696  2017091608           999     STEVENS               ADDY
136636  2018023625           999     UNKNOWN            UNKNOWN
138400  2018024158           999     UNKNOWN            UNKNOWN
139861  2018025401           999     UNKNOWN            UNKNOWN
140196  2018026013           999     UNKNOWN            UNKNOWN
140308  2018025528           999     UNKNOWN            UNKNOWN
141220  2018026711           999     UNKNOWN            UNKNOWN
141361  2018027304           999     UNKNOWN            UNKNOWN
142388  2018028367           999     UNKNOWN            UNKNOWN
143017  2018029170           999     UNKNOWN            UNKNOWN
143894  2018029586           999     UNKNOWN            UNKNOWN
145157  2018009986           999     UNKNOWN            UNKNOWN
146388  2018032598           999     UNKNOWN            UNKNOWN
147772  2018033744           999     UNKNOWN            UNKNOWN
148032  2018026407           999     UNKNOWN            UNKNOWN
148165  2018033985           999     UNKNOWN            UNKNOWN
149957  2018013810           999     UNKNOWN            UNKNOWN
149972  2018014057           999     UNKNOWN            UNKNOWN
150142  2018036463           999     UNKNOWN            UNKNOWN
150701  2018037138           999     UNKNOWN            UNKNOWN
152182  2018032931           999     UNKNOWN            UNKNOWN
152717  2018037923           999     UNKNOWN            UNKNOWN
153535  2018090788           999     UNKNOWN             EDWALL
154645  2018044723           999     UNKNOWN            UNKNOWN
155250  2018040676           999     UNKNOWN            UNKNOWN
156411  2017092467           999     UNKNOWN
156413  2017092468           999     UNKNOWN
156414  2017092469           999     UNKNOWN
156658  2018011480           999     UNKNOWN            UNKNOWN
157200  2018090972           999     UNKNOWN                NaN
157456  2018034990           999     UNKNOWN            UNKNOWN
158244  2018043748           999     UNKNOWN            UNKNOWN
159068  2018045800           999     UNKNOWN            UNKNOWN
159501  2018046888           999     UNKNOWN            UNKNOWN
161325  2018046559           999     UNKNOWN            UNKNOWN
161573  2018022805           999     UNKNOWN               NONE
162322  2018054204           999     UNKNOWN            UNKNOWN
162670  2018091103           999     UNKNOWN             TACOMA
162926  2017055448           999     UNKNOWN            UNKNOWN
162947  2018048329           999     UNKNOWN            UNKNOWN
163038  2018049340           999     UNKNOWN            UNKNOWN
163254  2018041928           999     UNKNOWN            UNKNOWN
163459  2018048733           999     UNKNOWN            UNKNOWN
163552  2018048842           999     UNKNOWN            UNKNOWN
164011  2018048122           999     UNKNOWN            UNKNOWN
164316  2018044330           999     UNKNOWN            UNKNOWN
164830  2018050540           999     UNKNOWN            UNKNOWN
165096  2018049133           999     UNKNOWN            UNKNOWN
166102  2018051790           999     UNKNOWN            UNKNOWN
166965  2018052886           999     UNKNOWN            UNKNOWN
167517  2018091222           999     UNKNOWN          EASTSOUND
167964  2018055916           999     UNKNOWN            UNKNOWN
168038  2018054545           999     UNKNOWN            UNKNOWN
170398  2018057560           999     UNKNOWN      NOTAPPLICABLE
170722  2018091279           999     UNKNOWN                NaN
170986  2018057041           999     UNKNOWN            UNKNOWN
171285  2018024773           999     UNKNOWN            UNKNOWN
171324  2018022580           999     UNKNOWN            UNKNOWN
171408  2018058512           999     UNKNOWN            UNKNOWN
171754  2018058624           999     UNKNOWN            UNKNOWN
171882  2018058648           999     UNKNOWN            UNKNOWN
171904  2018058651           999     UNKNOWN            UNKNOWN
171985  2018058656           999     UNKNOWN            UNKNOWN
171995  2018058662           999     UNKNOWN            UNKNOWN
172025  2018058665           999     UNKNOWN            UNKNOWN
172126  2018058684           999     UNKNOWN            UNKNOWN
172155  2018058693           999     UNKNOWN            UNKNOWN
172377  2018051316           999     UNKNOWN            UNKNOWN
172435  2018058115           999     UNKNOWN            UNKNOWN
172547  2018053683           999     UNKNOWN            UNKNOWN
172577  2018058716           999     UNKNOWN            UNKNOWN
172777  2016060675           999     UNKNOWN            UNKNOWN

 - cannot replace with correct values without any information on residence city or county.

###### Format date variables as dates

In [46]:
d1618.ddod = pd.to_datetime(d1618.ddod)

In [ ]:
d1618.to_csv(r'###\Data\d1618_clean.csv', index=None, header=True)

Next step - clean/prepare the manually linked labeled data for infant birth and death linked file.