### 1. ACQUIRE DEATH DATA

In [1]:
import pyodbc
import pandas as pd

In [2]:
## CONNECT TO WHALES & USE SQL QUERY FOR DEATH DATA SET

driver = '{SQL Server Native Client 11.0}'

conn = pyodbc.connect(
        Trusted_Connection='Yes',
        Driver='{ODBC Driver 13 for SQL Server}',
        Server='doh01dbtump10,9799',
        Database='WA_DB_DQSS'
        )
 
querystring = ("SELECT SFN_NUM as 'sfn'," + 
        "ISNULL(SEX, 'NaN') as 'sex', " + 
		"ISNULL(AGE1_CALC, '999') as 'ageyrs'," + 
		"ISNULL(DOD, 'NaN') as 'dod'," + 
		"ISNULL(SUBSTRING(DOD, 7,4), '9999') as 'dody', " +
        "DCOUNTY as 'dcounty'," +
	    "DSTATEL_FIPS_CD as 'dstateFIPS'," +
		"ISNULL(RACE_NCHS_CD, '99') as 'bridgerace', " + 
		"ISNULL(DETHNIC_NO, 'NaN') as 'hispno', " + 
        "ISNULL(MARITAL, 'NaN') as 'marital', " +
		"ISNULL(RES_STATE_FIPS_CD, 'NaN') as 'rstatefips', " + 
        "MANNER as 'manner'," +
        "TOBAC as 'tobac', " +
        "PREG as 'pg'," +
        "CERT_DESIG as 'certdesig'," +       
        "ISNULL(TRX_CAUSE_ACME, 'NaN') as 'UCOD', " +
        "ISNULL(TRX_REC_AXIS_CD1, 'NaN') as 'MC1', " +
        "ISNULL(TRX_REC_AXIS_CD2, 'NaN') as 'MC2', " +       
		"ISNULL(CODIA_QUERY, 'NaN') as 'codAq', " +
		"ISNULL(CODIB_QUERY, 'NaN') as 'codBq', " +
		"ISNULL(CODIC_QUERY, 'NaN') as 'codCq', " +
		"ISNULL(CODID_QUERY, 'NaN') as 'codDq', " +
		"ISNULL(CONDII_QUERY, 'NaN') as 'codIIq', " +
        "ISNULL(TRX_REC_AXIS_CD1, '') + ' ' + ISNULL(TRX_REC_AXIS_CD2, '') + ' ' + ISNULL(TRX_REC_AXIS_CD3, '') + ' ' + ISNULL(TRX_REC_AXIS_CD4, '') + ' ' + ISNULL(TRX_REC_AXIS_CD5, '') + ' ' + ISNULL(TRX_REC_AXIS_CD6, '') + ' ' + ISNULL(TRX_REC_AXIS_CD7, '') +	' ' + ISNULL(TRX_REC_AXIS_CD8, '') + ' ' + ISNULL(TRX_REC_AXIS_CD9, '') +	' ' + ISNULL(TRX_REC_AXIS_CD10, '') + ' ' + ISNULL(TRX_REC_AXIS_CD11, '') + ' ' + ISNULL(TRX_REC_AXIS_CD12, '') + ' ' + ISNULL(TRX_REC_AXIS_CD13, '') + ' ' + ISNULL(TRX_REC_AXIS_CD14, '') + ' ' + ISNULL(TRX_REC_AXIS_CD15, '') + ' ' + ISNULL(TRX_REC_AXIS_CD16, '') + ' ' + ISNULL(	TRX_REC_AXIS_CD17, '') + ' ' + ISNULL(TRX_REC_AXIS_CD18, '') + ' ' + ISNULL(TRX_REC_AXIS_CD19, '') + ' ' + ISNULL(	TRX_REC_AXIS_CD20, '') as 'AllMC'," +
        "ISNULL(TRX_REC_AXIS_CD2, '') + ' ' + ISNULL(TRX_REC_AXIS_CD3, '') + ' ' + ISNULL(TRX_REC_AXIS_CD4, '') + ' ' + ISNULL(TRX_REC_AXIS_CD5, '') + ' ' + ISNULL(TRX_REC_AXIS_CD6, '') + ' ' + ISNULL(TRX_REC_AXIS_CD7, '') +	' ' + ISNULL(TRX_REC_AXIS_CD8, '') + ' ' + ISNULL(TRX_REC_AXIS_CD9, '') +	' ' + ISNULL(TRX_REC_AXIS_CD10, '') + ' ' + ISNULL(TRX_REC_AXIS_CD11, '') + ' ' + ISNULL(TRX_REC_AXIS_CD12, '') + ' ' + ISNULL(TRX_REC_AXIS_CD13, '') + ' ' + ISNULL(TRX_REC_AXIS_CD14, '') + ' ' + ISNULL(TRX_REC_AXIS_CD15, '') + ' ' + ISNULL(TRX_REC_AXIS_CD16, '') + ' ' + ISNULL(	TRX_REC_AXIS_CD17, '') + ' ' + ISNULL(TRX_REC_AXIS_CD18, '') + ' ' + ISNULL(TRX_REC_AXIS_CD19, '') + ' ' + ISNULL(	TRX_REC_AXIS_CD20, '') as 'MC2_20'," +
        "CODIA_QUERY + ' ' + ISNULL(CODIB_QUERY, '') + ' ' + ISNULL(CODIC_QUERY, '') + ' ' + ISNULL(CODID_QUERY, '') + ' ' + ISNULL(CONDII_QUERY, '') + ' ' + ISNULL(INJRY_L_QUERY, '') as 'codlit'" +               
"FROM [wa_vrvweb_events].[VRV_DEATH_TBL]" +
"WHERE (DATE_DEATH_YEAR >= 2016) AND (DATE_DEATH_YEAR <= 2019) AND DSTATEL_FIPS_CD = 'WA'" +
	"AND VRV_REGISTERED_FLAG = '1'" +
	"AND FL_CURRENT = '1'" +
	"AND FL_VOIDED = '0'")

dths1619= pd.read_sql_query(querystring, conn)

In [3]:
## SAVE DATA AS CSV FILE

dths1619.to_csv(r'Y:/DQSS/Death/MBG/py/capstone2/data/dth1619_raw.csv', index=None, header=True)

**Next notebook: 2_Prepare_data.ipynb**